$red_clor:red;
$TOP_FIXED_HEIGHT: 6.912rem;
$THUMB_COL_NUM:2;
$NAIL_HEIGHT: 4.05rem;
//   reset
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html{
    font-size: 16px;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  }
  body{
    font-size: 62.5%;
  }
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }

.wrap {
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    
    .theader{
      .inner{
        position: relative;
        width: 100%;
        height: $TOP_FIXED_HEIGHT;
        background-image: url('./images/back@2x.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% $TOP_FIXED_HEIGHT;
      }
    }

    .content{
      position: relative;
      width: 100%;
      padding: .32rem;
      .thumbs{
        .thumb-nail{
          display: inline-block;
          padding: .4rem;
          width: (100%/$THUMB_COL_NUM);
          
          
          .nail{
            position: relative;
            background-repeat: no-repeat;
            background-size: 100% $NAIL_HEIGHT;
            height: $NAIL_HEIGHT;
            &>h6{
              position: absolute;
              display: inline-block;
              bottom: 20px;
              width: 100%;
              font-weight: 300;
              font-size: .6rem;
              color: #f2fdf8;       
            }
          }
        }
      }
    }
  
    .bg-col-1{
      background-image: url('./images/1@2x.png');
    }
    .bg-col-2{
      background-image: url('./images/2@2x.png');
    }
    .bg-col-3{
      background-image: url('./images/3@2x.png');
    }
    .bg-col-4{
      background-image: url('./images/4@2x.png');
    }
    .bg-col-5{
      background-image: url('./images/5@2x.png');
    }
    .bg-col-6{
      background-image: url('./images/6@2x.png');
    }


    


    


}


/*iphone6plus-使用3倍图*/
@media(min-device-width:414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3){
  
  
  
}