$bd: .5px solid #ccc;
.newCar{
    width: 100%;
    background: #f1f1f1;
    color:black;
    font-size: 1rem;
    >div{
        padding: .5rem;
    }
    >div>div{
        line-height: 1.8rem;
        img{
            width: 1.4rem;
            margin-right: .5rem;
            vertical-align: middle;
        }
        span:last-of-type{
            float: right;
            font-size: .8rem;
            color:gray;
            margin-top: .5rem;
            vertical-align: middle;
        }
        
    }
    .item{
        box-sizing: border-box;
        width: 100%;
        border-bottom: 0;
        li{
            width: 50%;
            display: inline-block;
            float: left;
            background-color: white;
            padding: .5rem 0;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border-bottom: $bd;
            border-right: $bd;
            text-align: center;
            img{
                width: 99%;
                height: 4.8rem;
            }
            p{
                text-align: center;
                font-size: .7rem;
            }
            p:last-of-type{
                color: gray;
                font-size: .65rem;
            }
        }
        
        li:nth-of-type(1), li:nth-of-type(2){
            border-top: $bd;
            border-bottom: $bd;
        }
        li:nth-of-type(2n-1){
            border-left: $bd;
        }
        &:before, &:after{
            width: 0;
            height: 0;
            content: "";
            clear: both;
            display: block;            
        }
        
    }
}